[submodule "code-gen-web"]
	path = code-gen-web
	url = https://github.com/SpectatorWjx/code-gen-web.git
[submodule "code-gen-backend"]
	path = code-gen-backend
	url = https://github.com/SpectatorWjx/code-gen-backend.git
